.about {
  /* Remove height and max-width properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take up the full available width */
  max-width: 700px; /* Set a maximum width for desktop view
   */
  margin: 0 auto; /* Center the .about section horizontally */
}

.about-content {
  /* Remove height and width properties */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  padding: 20px; /* Adjust the padding for spacing */
  /* Remove margin-right and margin-left properties */
  align-items: center;
}

.about-content p {
  padding: 10px;
  font-size: medium; /* Adjust font size as needed */
  font-weight: 500;
}

/* Remove the media query for max-width: 850px, as it's not needed */

@media only screen and (max-width: 500px) {
  .about {
    margin-top: 50px;
  }
}
