.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.about-content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  /* background-color: var(--textbackground-color); */
  padding: 30px;
  margin-right: 150px;
  margin-left: 150px;
  align-items: center;
}

.about-content p {
  padding: 10px;
  font-size: large;
}

.about h2 {
  display: flex;
  margin-left: 150px;
}

@media only screen and (max-width: 850px) {
  .about {
    margin-bottom: 450px;
  }
  .about-content {
    padding: 10px;

    margin-bottom: 900px;
  }
  .about-content p {
    font-size: large;
  }
}

/* @media only screen and (max-width: 450px) {

} */
