.home {
  display: flex;
  height: 100vh;
  margin: 0 60px;
  margin-top: 150px;
}

.home-title {
  padding-left: 100px;
}

.home-title .info {
  margin-bottom: -30px;
}

.home-title title {
  margin-top: 25px;
  /* margin-bottom: -25px; */
}

.home-title #photographer {
  margin-top: -25px;
}

#photo {
  height: 600px;
  width: 500px;
  /* width: 40%;
  height: 90%; */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
}
