.home {
  display: flex;
  /* height: 100vh; */
  margin: 0 60px;
  margin-top: 100px;
}

/* .home-title {
  display: flex;
} */

h1 {
  width: max-content;
  position: relative;
}

h1::before,
h1::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

h1::before {
  background-color: var(--background-color);
  animation: typewriter 3s steps(21) forwards;
}

h1::after {
  width: 0.09em;
  background: black;
  animation: typewriter 3s steps(21) forwards, blink 650ms steps(21) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: hidden;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#intro {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadein 2s ease 3s forwards;
}

.home-title .info {
  margin-bottom: -30px;
  font-weight: bold;
}

.home-title h2 {
  margin-top: 30px;
}

.title {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.356);
}

#photographer {
  margin-top: -25px;
}

.home-title #sd {
  text-decoration: underline;
}

.home-title #sd:hover {
  cursor: pointer;
  color: var(--althigh-color);
}

.home-title a {
  text-decoration: underline rgb(223, 189, 223);
  color: rgb(223, 189, 223);
}

.home-title a:hover {
  color: var(--althigh-color);
  text-decoration: underline black;
}

#photo {
  /* width: 100%;
  height: 100%; */
  max-width: 100%;
  min-width: 200px;
  min-height: 200px;
  /* -moz-border-radius: 50px;
  -webkit-border-radius: 50px; */
  /* border-radius: 50%; */
  /* object-position: right 30px; */
}

@media screen and (max-width: 500px) {
  #photo {
    height: 300px;
    width: 300px;
  }
  .home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  #photo {
    height: 400px;
    width: 400px;
    min-width: 400px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1025px) {
  #photo {
    height: 600px;
    width: 600px;
    min-width: 600px;
    max-height: 600px;
  }
}

@media screen and (min-width: 1026px) and (max-width: 1080px) {
  #photo {
    height: 100%;
    width: 100%;
    min-width: 800px;
    max-width: 800px;
    max-height: 800px;
  }
  .home-title {
    padding-left: 150px;
    /* display: flex; */
  }
}

@media screen and (min-width: 1081px) {
  #photo {
    height: 100%;
    width: 100%;
    min-width: 946px;
    max-width: 946px;
    max-height: 946px;
  }
  .home-title {
    padding-left: 150px;
    display: flex;
  }
}
