.home {
  display: flex;
  height: 100vh;
  margin: 0 60px;
  margin-top: 150px;
}

.home-title {
  padding-left: 150px;
  display: flex;
}

.home-title .info {
  margin-bottom: -30px;
  font-weight: bold;
}

.home-title h2 {
  margin-top: 30px;
}

.title {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.356);
}

#photographer {
  margin-top: -25px;
}

.home-title #sd {
  text-decoration: underline;
}

.home-title #sd:hover {
  cursor: pointer;
  color: var(--althigh-color);
}

.home-title a {
  text-decoration: underline rgb(223, 189, 223);
  color: rgb(223, 189, 223);
}

.home-title a:hover {
  color: var(--althigh-color);
  text-decoration: underline black;
}

#photo {
  width: auto\9;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  min-height: 300px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  object-position: right 30px;
}

@media only screen and (max-width: 850px) {
  .home-title {
    align-items: center;
    margin-left: -125px;
    margin-top: -300px;
  }
  .home .home-title #photo {
    height: 300px;
    width: 250px;
  }
}
