.project-card-content {
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
}

/* .project-card-content img {
  height: 175px;
  width: 250px;
} */

.project-card-content img {
  height: 175px;
  width: 263px;
}

.project-card-content .project-name {
  font-size: large;
  font-weight: bold;
}

.project-card-content .stack {
  color: rgba(0, 0, 0, 0.356);
}

.project-card-content .desc {
  width: 280px;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

#firsthr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  width: 300px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: medium;
  font-weight: bold;
  padding: 3px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  width: 100px;
  height: 50px;
}

.btn:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

@media only screen and (max-width: 850px) {
  .project-cards {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .project-cards {
    display: flex;
    flex-direction: column;
  }
  .project-card-content img {
    width: 250px;
  }
  .project-card-content .buttons {
    grid-gap: 5px;
    justify-content: space-between;
  }
  .project-card-content .btn {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12px;
  }
}
