.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
