.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects h2 {
  margin-left: 125px;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 850px) {
  .projects {
    /* align-items: center; */
    margin-top: 250px;
  }
  .project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
