.skills {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h2 {
  display: flex;
  /* margin-left: 150px; */
}

.skills img {
  height: 300px;
  width: 400px;
}
