.footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
    /* Add some space above the footer to push it to the bottom */
    margin-top: auto;
}

.footer-links {
  margin-right: 20px;
}

.footer-link {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}

.footer-link:hover {
  color: #2c2c2c;
}

#arrow:hover {
  cursor: pointer;
}
