/* body,
html {
  overflow-x: hidden;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

h1 {
  font-family: Arial, Helvetica, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-color: #121414;
  /* --highlight-color: rgb(223, 189, 223); */
  --highlight-color: #49a544;
  /* --althigh-color: rgb(29, 29, 29); */
  --althigh-color: #49a544;
  --textbackground-color: #e9fafa;
  --background-color: white;
}

ul {
  list-style-type: none;
}
