.navbar {
  /* position: fixed; */
  display: flex;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05); */
}

.navbar .rightside {
  display: flex;
  align-items: center;
}

#toggle {
  display: none;
}

.navbar .logo {
  color: var(--heading-color);
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  /* margin-left: 50px; */
  margin-right: auto;
}

.navbar .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.navbar .img {
  width: 150px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 50px;
  font-size: medium;
}

.navbar button {
  font-weight: bold;
  padding: 3px;
  text-decoration: none;
}

.navbar button:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

.navbar a:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.navbar .span {
  color: var(--highlight-color);
}

.navbar #resume {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
}

/* .navbar img {
  height: 50px;
} */

.logo p {
  font-size: large;
  font-weight: bold;
  margin-left: 30px;
}

.logo p:hover {
  cursor: pointer;
}

@media only screen and (max-width: 790px) {
  .navbar .rightside #toggle {
    display: flex;
    margin-right: 20px;
  }
  .navbar .rightside .links {
    display: none;
  }
  .navbar .rightside #hidden {
    display: flex;
    position: absolute;
    top: 100px;
    background: #fff;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    width: 50px;
    margin: -35px;
  }
  .navbar .btn {
    width: 40px;
    height: 40px;
  }
}
