.navbar {
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background-color: rgb(125, 219, 248);
  box-sizing: border-box;
}

.navbar .rightside {
  display: flex;
  align-items: center;
}

#toggle {
  display: none;
}

.navbar .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .img {
  width: 150px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 50px;
  font-size: medium;
}

.navbar a:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.navbar .span {
  color: var(--highlight-color);
}
